.img-head img {
  width: 40px;
  height: 40px;
}
.img-head {
  display: flex;
  align-items: center;
}
.img-head h2 {
  color: red;
  margin-left: 10px;
}
.main-left-head {
  display: flex;
}

.main-left-body form {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
.main-left-body form button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  margin-top: 35px;
  width: 300px;
  height: 40px;
}
.main-left-body {
  margin-top: 60px;
  width: 100%;
  height: 80vh;
}
.main-left-body form p {
  align-items: flex-end;
  width: 200px;
}
.task-detail {
  height: 100px;
}
.task-name {
  height: 30px;
}
.main {
  display: flex;
  color: white;
}
.main-left {
  width: 50%;
  background-color: rgba(255, 0, 0, 0.9);
}
.count {
  margin-bottom: 5px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.btn1 {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main-right {
  background-color: whitesmoke;
  width: 50%;
  color: black;
}
.main-right-top {
  display: flex;
  margin-left: 40px;
  margin-top: 30px;
}
.main-right-top1 {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}
.main-right-top1 select {
  width: 100px;
  height: 30px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}
.main-right-top1 div button {
  width: 100px;
  height: 30px;
  background-color: white;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
}
.item {
  margin: 20px 20px;

  display: flex;
}
.item-left {
  height: 60px;
  color: red;
  width: 6px;
  border-radius: 5px solid red;
  background-color: red;
}
.item-right {
  width: 100%;
  margin-left: 10px;
}
.item-first {
  display: flex;
  justify-content: flex-end;
}
.item-first button {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  border-radius: 50%;
}
#item-btn1 {
  background-color: red;
  border: 2px solid red;
  cursor: pointer;
}
#item-btn2 {
  background-color: yellow;
  border: 2px solid yellow;
  cursor: pointer;
}
#item-btn3 {
  background-color: greenyellow;
  border: 2px solid greenyellow;
  cursor: pointer;
}
.item-right-detail {
  margin-top: 4px;
}
.stricked {
  text-decoration: line-through;
}
.popup {
  background-color: white;
  display: flex;
  position: fixed;
  width: 400px;
  border-radius: 15px;
  box-shadow: grey;
  height: 400px;
  justify-content: center;
  z-index: 9999;
  transform: translate(50%, -50%);
  scale: 1;
  top: 50%;
  left: 20%;
  visibility: hidden;
}
.popup form {
  display: flex;

  flex-direction: column;
}
.popup div h3 {
  display: flex;
  justify-content: center;
}
.popup form input {
  height: 30px;
  width: 300px;

  margin-top: 40px;
}

.popup-btns {
  display: flex;

  justify-content: space-evenly;
  margin-top: 50px;
}
.popup-btns button {
  width: 90px;
  height: 30px;
}
#popup-btn1 {
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 10px;
  cursor: pointer;
}
#popup-btn2 {
  background-color: yellowgreen;
  color: white;
  border: 2px solid yellowgreen;
  border-radius: 10px;
  cursor: pointer;
}
